<a name="getting_started"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Getting Started</h2>
        <p class="lead">
          Hi! I'm a bot for <a href="https://telegram.org/">Telegram.</a>
          Telegram is a messaging app for your phone and desktop. If you want, I'll help keep you up-to-date on
          everything related to Omerta. Keep reading to find out more about what I can do, or
          <a href="https://telegram.me/OmertaBeyondBetaBot" target="_new">get started now.</a>
        </p>
      </div>
      <div id="getting_started_image" class="col-lg-5 col-lg-offset-2 col-sm-6">
        <a href="https://telegram.me/OmertaBeyondBetaBot" target="_new">
          <%= image_tag 'telegram', alt: "Start using Omerta Beyond's Telegram Bot", width: '200px' %>
        </a>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<a name="what"></a>
<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">What can you even do?</h2>
        <p class="lead">
          Well, for one thing, I can send you updates whenever something interesting happens.
          A new war is starting? Omerta News? Update for the Omerta Beyond extension available? I got you covered!
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <%= image_tag 'features/news', width: '450px' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">That's all?</h2>
        <p class="lead">
          No! You can also use features that you might know from IRC bots, without having to be on IRC all the time.
          Thanks to my awesome game logger, I can answer any question you have.
        </p>
      </div>
      <div id="getting_started_image" class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'features/others', width: '450px' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">Copyright &copy; <a href="https://news.omertabeyond.net/">OmertaBeyond</a> 2015</p>
      </div>
    </div>
  </div>
</footer>